@import url('https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css'); // Import Pure CSS 
@import url('https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/buttons-min.css'); // Import Pure CSS button styles

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee:wght@400;700&display=swap');

// Define variables
$primary-color: #111202;
$text-color: #ffffff;

html, body {
  width: 100%;
  height: 100%;
}
// Set global styles
body {
  background-color: $primary-color;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
}

main {
  height:100%;
  height:100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-rows: 100vh;
  gap: 2%;
  overflow: hidden;
  min-height: 100%;
}

.card {
  display: flex;
  text-align: center;
  height: auto;
  

}

// Define card link styles as an orange button turning green on hover
.card a {
  background-color: orange;
  color: $text-color;

  &:hover {
    background-color: green;
  }
}

h1, h2, h3 {
  font-family: 'Bungee';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

picture {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.picture-container {
  position: relative;
  overflow: hidden;
  width:100%;
  height: 100%;
}

.picture-container picture {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
}


header {
  h3 {
    text-shadow: 2px 2px 0px rgba(12,12,12,0.4);
  }  
}

.picture-container::after {
  content: '\25B6'; /* HTML entity for a right-pointing triangle (play button) */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

@media (orientation: portrait) {
  // Mobile phone portrait layout (1 row)  
  .grid {
    display: inline-flex;
    overflow: hidden;
    overflow-x: auto;
    min-width: 100%;
    scroll-snap-type: x mandatory; 
    &::-webkit-scrollbar {
      display: none; /* Hide the scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
      width: 0;
      height: 0;
    }
  }
 
  .card {
    flex-direction: column;
    scroll-snap-align: start;
    min-width: 100vw;
    .header, .p {
      flex: 0 0 auto;
    }
    
    .picture {
      flex: 1 1 auto;
    }
  }
  
  .grid .card:last-child {
    margin-right: 0;
  }

  .picture-container {
       flex: 1;
       &::after {
          right: 50%;
          top: 50%;  
       }
    }
}

 
@media (min-width: 768px) {
      
      main, body, html, .grid {
        min-height: 100%; 
        height: auto;
        overflow: auto;
        width: 100%;
      }
  
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        grid-auto-rows: minmax(100vh, 350px);
        margin: 0 2%;
    }
  
     .card {
       flex-direction: column;
       width: auto;
       height: 100%;
     }  
}
   
@media (max-height: 480px) and (max-width: 767px) {  
     
     .grid {
        overflow-y: auto;
        height: auto;
        grid-template-columns: repeat(100vw,1fr);
        grid-template-rows: repeat(9999, minmax(100vh,1fr));
        scroll-snap-type: y mandatory; 
        &::-webkit-scrollbar {
            display: none; 
            width: 0;
            height: 0;
        }
    }
    
    .card {
      display: block;
      scroll-snap-align: start;
      position: relative;
      min-width: 100vw;
      height: 100%;
    }
     .picture-container {
       &::after {
          right: 2%;
          left: auto;
          top: auto;
          bottom: 15%;  
       }
    }
    .header, .p {
      z-index: 4;
      position: absolute;
      top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header {
      top: 25%;
      background-color: rgba(0,0,0,0.53);
      border-radius: 8px;
      h3 { margin: 8px; }
      
    }
    .p {
      bottom: 35%;
    }

  }

@media (min-width: 960px) {
  
  .grayscale-background {
    filter: grayscale(100%); /* Apply grayscale effect */
    transition: filter 0.3s ease-in-out;
  }
      
      
   .grayscale-background:hover {
     filter: grayscale(0); /* Remove grayscale effect on hover */
    }

    
}


  